/*google login css*/
#my-signin2 > div{
    width: 100% !important;
    border: 1px solid #eee;
}

/*facebook login css*/
#fb-login{
    width: 100%;
    /* background: #fafafa; */
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    cursor: pointer;
    transition: background-color .218s,border-color .218s,box-shadow .218s
}
#fb-login:hover{
    box-shadow: 0 2px 4px 0 #4285f4;
}
#fb-login img{
    height: 100%;
}
#fb-login span{
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    /* color: #4285f4; */
    letter-spacing: .21px
}
#fb-login.light{
    background: #fafafa;
    color: #4285f4;
}

#fb-login.dark{
    background: #45619d;
    color: #fff;
}

.auth_page{
    width: 100%;
    padding: 2.5rem 0;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
}

.auth-page-night{
    background: #2d3436 !important;
}

.auth_page .auth_box{
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: none;
    padding: 2.7rem ;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-page-night .auth_box{
    background: #2d3436 !important;
    color: #fff;
}

.auth_page .pass{
    position: relative;
}

.auth_page .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .5;
}

.auth_page input::placeholder{
    opacity: .5;
    font-size: 80%;
}

.auth-page-night input{
    background: transparent;
    color: #fff !important;
}

.auth-page-night input:focus{
    background: none;
    outline: none;
    box-shadow: none;
}

.auth_page a{
    text-decoration: none;
}

.auth_page a:hover{
    text-decoration: underline;
}

.auth-page-night a{
    color: #3498db
}

.auth-page-night button{
    background: #5352ed !important;
    color: #fff !important;
    font-weight: bold;
}
